.container{
  position: relative;
  width: 250px;
}

.container img{
  width: 100%;
  display: block;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:local;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
