nav{
  text-align: center;
  margin-top: 50px;
}

nav a{
  text-decoration: none;
  color: black;
  margin: 0 15px;
  font-size: 20px;
  transition: transform 0.3s, color 0.3s;
}

nav a:hover,
nav a:focus{
  color: purple;
  transform: scale(1.2);
}
